@media only screen and (max-width: 1000px) {
    #main {
        width: 750px;
        position: absolute;
    }
}

#main{
    font-family: Arial, Helvetica, sans-serif;
    height: 90%;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}


#headline-text{
    font-size: 40px;
}


#header-table{
    width: 100%;
}

#header-left{
    text-align: left;
}

#header-right{
    text-align: right;
}

.check-form{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    font-size: 15px;
}

#item{
    border: 1px solid;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
}

#item p{
    text-align: center;
}

span{
    text-align: center;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

button, .button, .delete-button{
    cursor: pointer;
}

button, input{
    width: 100px;
}



#add-form{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    font-weight: bold;
    text-align: left;
    border-collapse: collapse;
}

#add-form td{
    padding-top: .5em;
    padding-bottom: .5em;
    width: 100%;
}

#add-form input{
    width: 300px;
}

#switcher{
    margin-left: 10px;
    display: inline-grid;
}

.for-book, .for-dvd-disc, .for-furniture{
    display: none;
}

.size{
    display: block;
}

.weight{
    display: block;
}

.dimensions{
    display: block;
}

#info{
    margin-left: 39%;
    font-style: italic;
    font-variant: normal;
    color: grey;
    font-size: 80%;
}

.error, .failure {
    color: red;
    font-variant: normal;
    min-width: 200px;
}

.failure, .success{
    transform:translate(100px,400px);
    position: absolute;
    z-index: 2;
    height: 20px;
}

.success{
    color: green;
    font-weight: bold;
}

.checkbox{
    width: 40px;
}